run = "vite"
entrypoint = "index.html"
hidden = [".config"]
modules = ["nodejs-18", "web"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm run build"]
publicDir = "dist"
run = ["sh", "-c", "npx serve dist -s -l 5000"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 42632289
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "vite"

[[workflows.workflow]]
name = "Build Production"
author = 42632289
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build:prod"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
